# Database configuration
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=demoL0
DB_PORT=5432

# Kafka configuration
KAFKA_HOST_PORT=localhost:9092
KAFKA_TOPIC=orders
KAFKA_DLQ_TOPIC=orders_dlq
KAFKA_TOPIC_PARTITION_COUNT=3
KAFKA_DLQ_TOPIC_PARTITION_COUNT=1
KAFKA_GROUP_ID=order_consumers
KAFKA_DLQ_GROUP_ID=dlq_consumers

# DLQ configuration
LISTEN_DLQ=false

